@{
    ViewBag.Title = "Contact";
}
<h2>Contactenos</h2>
<h3>Escribanos a...</h3>

<address>
    Desarrollo<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    3154897885
</address>
<address>
    Infraestructura<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    3124847885
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Support@Agylepay.com</a><br />
    <strong>Ventas:</strong> <a href="mailto:Marketing@example.com">Marketing@Agylepay.com</a>
</address>