@{
    ViewBag.Title = "Políticas de privacidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>POLÍTICA DE PRIVACIDAD DE DATOS</h2>
        <BR />
        <h6>
            Si tienen alguna duda en esta relación con esta política de privacidad o desean solicitar una
            traducción, póngase en contacto con nosotros por fgutierrezv1@ucentral.edu.co.
        </h6>
        <BR />
        <ol>
            <li>
                <h4>Introducción</h4>
                <p>
                    Esta es la política de privacidad de datos de AGILEPAY.<br />
                    AGILEPAY respeta su privacidad y se compromete a proteger sus datos personales. Esta
                    política de
                    privacidad le informará sobre cómo cuidamos sus datos personales cuando visita uno de
                    nuestros
                    sitios web (independientemente de dónde lo visite) y le informa sobre sus derechos de
                    privacidad
                    y cómo la ley lo protege.
                </p>
            </li>
            <li>
                <h4>Información importante: quienes somos.</h4>
                <p>
                    Esta política de privacidad tiene como objetivo proporcionarle información sobre cómo
                    Agilepay recopila y procesa sus datos personales mediante el uso de este sitio web,
                    incluidos los datos que puede proporcionar a través de este sitio web cuando proporciona sus
                    datos personales o su consentimiento para recibir más materiales de nosotros o de nuestra
                    empresa.
                    Este sitio web no está dirigido a niños y no recopilamos a sabiendas datos relacionados con
                    niños.
                    Es importante que lea esta política de privacidad junto con cualquier otra política de
                    privacidad o de procesamiento justo que podamos proporcionar en ocasiones específicas cuando
                    recopilamos o procesamos datos personales sobre usted para que esté totalmente al tanto de
                    cómo y por qué utilizamos sus datos. . Esta política de privacidad complementa otros avisos
                    y políticas de privacidad y no tiene la intención de anularlos.

                </p>
            </li>
            <li>
                <h4>Los datos que recopilamos sobre usted.</h4>
                <p>
                    Datos personales, o información personal, significa cualquier información sobre una persona
                    a partir de la cual esa persona pueda ser identificada. No incluye datos donde se ha
                    eliminado la identidad (datos anónimos).
                </p>
            </li>
            <li>
                <h4>¿Cómo se recogen sus datos personales?</h4>
                <p>
                    Utilizamos diferentes métodos para recopilar datos de y sobre usted, incluso a través de:
                    • Interacciones directas. Puede proporcionarnos sus datos personales rellenando formularios
                    o poniéndose en contacto con nosotros por correo postal, teléfono, correo electrónico o de
                    otra manera. Esto incluye los datos personales que proporciona
                </p>
            </li>
            <li>
                <h4>Cómo utilizamos sus datos personales.</h4>
                <p>
                    En general, no confiamos en el consentimiento como base legal para procesar sus datos
                    personales, aunque obtendremos su consentimiento antes de enviarle comunicaciones de
                    marketing directo a terceros por correo electrónico o mensaje de texto. Usted tiene el
                    derecho de retirar el consentimiento para la comercialización en cualquier momento
                    poniéndose en contacto con nosotros.
                </p>
            </li>
            <li>
                <h4>Divulgación de sus datos personales.</h4>
                <p>
                    Podemos compartir sus datos personales con las partes que se detallan a continuación para
                    los fines establecidos en la tabla anterior.
                    • Empresas del Grupo Agilepay.
                    • Terceros a los que podemos optar por vender, transferir o fusionar partes de nuestro
                    negocio o nuestros activos. Alternativamente, podemos buscar adquirir otros negocios o
                    fusionarnos con ellos. Si se produce un cambio en nuestro negocio, los nuevos propietarios
                    pueden utilizar sus datos personales de la misma manera que se establece en esta política de
                    privacidad.
                </p>
            </li>
            <li>
                <h4>Seguridad de datos.</h4>
                <p>
                    Hemos implementado las medidas de seguridad adecuadas para evitar que sus datos personales
                    se pierdan, utilicen o accedan de forma no autorizada, alterados o divulgados. Además,
                    limitamos el acceso a sus datos personales a aquellos empleados, agentes, contratistas y
                    otros terceros que tienen una necesidad comercial que deben conocer. Solo procesarán sus
                    datos personales según nuestras instrucciones y están sujetos a un deber de
                    confidencialidad.
                </p>
            </li>
        </ol>
    </div>
</div>