@{
    ViewBag.Title = "Cargar Dinero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>CARGAR DINERO</h3>
<h3><small>Bienvenido a la seccion para cargar dinero</small></h3>
<div class="row" ng-controller="ctrCargarDinero">
    <div class="col-md-6 col-xs-12">

        <label>Seleccione cuenta a recargar</label><br>
        <div class="cajaCuentas cuentasCentrado">
            <div class="cajaCuenta" ng-class="(moneda_movimiento=='USD'?'cajaSeleccionada':'')" ng-click="fun_TipoMoneda_USD()">
                <figure>
                    <img src="~/img/Banco de Iconos/080_USD_Money.svg" alt="" width="70" height="70" class="img-reponsive">
                    <figcaption>
                        <p style="color:black">
                            <input type="radio" ng-checked="moneda_movimiento =='USD'" ng-model="moneda_movimiento" value="USD" name="rbTMoneda" />
                            USD
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="cajaCuenta" ng-class="(moneda_movimiento=='BTC'?'cajaSeleccionada':'')" ng-click="fun_TipoMoneda_BTC()">
                <figure>
                    <img src="~/img/Banco de Iconos/090_Bitcoin_Money.svg" alt="" width="70" height="70" class="img-reponsive">
                    <figcaption>
                        <p style="color:black">
                            <input type="radio" ng-checked="moneda_movimiento =='BTC'" ng-model="moneda_movimiento" value="BTC" name="rbTMoneda" />
                            BTC
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <br>

        <label>Seleccione metodo de recarga</label><br>
        <div class=" cajaCuentas cuentasCentrado">
            <div class="cajaCuenta" ng-class="(tipo_movimiento=='PDTM'?'cajaSeleccionada':'')" ng-click="fun_SeleccionarMetodoRecarga_PDTM()">
                <figure>
                    <img src="~/img/Banco de Iconos/100_Tarjeta_Credito.svg" alt="" width="50" height="50">
                    <figcaption>
                        <p style="color:black">
                            <input type="radio" ng-checked="tipo_movimiento =='PDTM'" ng-model="tipo_movimiento" value="PDTM" name="rbTipoMetoto" />
                            Realiza pagos desde tu tarjeta visa/mastercard.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="cajaCuenta" ng-class="(tipo_movimiento=='TRBC'?'cajaSeleccionada':'')" ng-click="fun_SeleccionarMetodoRecarga_TRBC()">
                <figure>
                    <img src="~/img/Banco de Iconos/110_Transferencia_Bancaria.svg" alt="" width="50" height="50">
                    <figcaption>
                        <p style="color:black">
                            <input type="radio" ng-checked="tipo_movimiento =='TRBC'" ng-model="tipo_movimiento" value="TRBC" name="rbTipoMetoto" />
                            Paga por transferencia bancaria a bajas tasas.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="cajaCuenta" ng-class="(tipo_movimiento=='CCFR'?'cajaSeleccionada':'')" ng-click="fun_SeleccionarMetodoRecarga_CCFR()">
                <figure>
                    <img src="~/img/Banco de Iconos/120_Cupon.svg" alt="" width="50" height="50">
                    <figcaption>
                        <p style="color:black">
                            <input type="radio" ng-checked="tipo_movimiento =='CCFR'" ng-model="tipo_movimiento" value="CCFR" name="rbTipoMetoto" />
                            Compre cupones en falbella, exitos y otros para recargar su cuenta.
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div style="margin-top:25px; margin-bottom:30px">
            <label for="">Saldo a Recargar</label>
            <input type="text" ng-model="monto" id="">
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <small>Datos del metodo de recarga</small>
        <br />
        <br />
        <label ng-hide="!configCtr[tipo_movimiento]['Dato1']" for="">{{configCtr[tipo_movimiento]['strDato1']}}</label>
        <input ng-hide="!configCtr[tipo_movimiento]['Dato1']" ng-model="Dato1" type="text" />
        <label ng-hide="!configCtr[tipo_movimiento]['Dato2']" for="">{{configCtr[tipo_movimiento]['strDato2']}}</label>
        <input ng-hide="!configCtr[tipo_movimiento]['Dato2']" ng-model="Dato2" type="text" /><br>
        <label ng-hide="!configCtr[tipo_movimiento]['Dato3']" for="">{{configCtr[tipo_movimiento]['strDato3']}}</label>
        <input ng-hide="!configCtr[tipo_movimiento]['Dato3']" ng-model="Dato3" type="text" />
        <label ng-hide="!configCtr[tipo_movimiento]['Dato4']" for="">{{configCtr[tipo_movimiento]['strDato4']}}</label>
        <input ng-hide="!configCtr[tipo_movimiento]['Dato4']" ng-model="Dato4" type="text" />

        <div style="float:right;margin-bottom:35px">
            <button ng-click="fun_Guardar()"> <span class="glyphicon glyphicon-upload"></span> Cargar Dinero</button>
        </div>
    </div>

</div>