@{
    ViewBag.Title = "Creación de incidencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <small>Registarse</small>
</h3>
<section class="sec-50">
    <h2>AGILEPAY</h2>
    <figure>
        <img src="~/img/Banco de Iconos/010_Logo_Empresa.svg" alt="Logo Agilepay" width="70%" height="70%"
             class="CentradoAutomatico" />
    </figure>
    <p>
        <strong>AGILEPAY</strong> incorpora una área de soporte técnico para solucionar problemas en su
        plataforma, usted puede reportar cualquier incidencia anómala en nuestro sistema ingresando información
        detallada en los siguientes campos. Sea lo más concreto posible. Su mensaje será respondido vía correo
        electrónico.
    </p>
</section>
<section class="sec-50" ng-controller="ctrIncidencias">
    <h2></h2>
    <div class="row">
        <div class="col-md-12">
            <label>Asunto</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input ng-model="Asunto" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Mensaje</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <textarea ng-model="Mensaje" rows="10" class="" style="min-height: 399px;" placeholder="Ingrese una descripción del problema presentado en AGILEPAY."></textarea>
        </div>
    </div>
    <input type="submit" ng-click="fun_Guardar()" value="Reportar incidencia" />
</section>