<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrarse</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/sitio.css" />
    <!-- <link rel="stylesheet" href="css/footer.css" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption|Slabo+13px|Suez+One" rel="stylesheet">

    <link rel="stylesheet" href="css/sitio.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption|Slabo+13px|Suez+One" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- El logotipo y el icono que despliega el menú se agrupan
                                 para mostrarlos mejor en los dispositivos móviles -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Desplegar navegación</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="img/Banco de Iconos/010_Logo_Empresa.svg" alt="Logo Agilepay" width="55" height="40"
                     style="margin-top:-7px" />
            </a>

            <a class="navbar-brand" href="#"><strong>AGILEPAY</strong></a>
        </div>

        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                                 otro elemento que se pueda ocultar al minimizar la barra -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">

                <a href="Dashboard Vision General_2.html">
                    <button class="btn navbar-btn ">
                        <span class="glyphicon glyphicon-user"></span> Iniciar Sesion
                    </button>

                </a>
                <a href="InicioSesion.html">
                    <button class="btn navbar-btn ">
                        <span class="glyphicon glyphicon-inbox"></span> Contactenos
                    </button>
                </a>
                <a href="index.html">
                    <button class="btn navbar-btn ">
                        <span class="glyphicon glyphicon-arrow-left"></span> Inicio
                    </button>
                </a>
            </ul>
        </div>
    </nav>
    <br />
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h2>
                    REGISTRARSE
                </h2>
            </div>
            <div class="col-md-12 col-xs-12" ng-app="myAplicacion" ng-controller="ctrSeguridad">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <section class="sec-60">
                                <figure>
                                    <legend>
                                        <h2>AGILEPAY</h2>
                                    </legend>
                                    <img src="img/Banco de Iconos/010_Logo_Empresa.svg" alt="Logo Agilepay" width="20%"
                                         height="20%" class="CentradoAutomatico" />
                                </figure>
                                <p>
                                    <strong>AGILEPAY</strong> respeta su privacidad y se compromete a proteger sus datos
                                    personales. En nuestra política de privacidad le informaremos sobre cómo cuidamos sus
                                    datos
                                    personales cuando visita uno de nuestros sitios web (independientemente de dónde lo
                                    visite) y le informa sobre sus derechos de privacidad y cómo la ley lo protege.
                                </p>
                            </section>
                            <section class="sec-40">

                                <div class="SeccionRegistro CentradoAutomatico">
                                    <form action="Dashboard Vision General_2.html">
                                        <legend><small>Datos de registro</small></legend> <br /><br />
                                        <label>Tipo identificación</label><br />
                                        <select ng-model="tipo_identificacion">
                                            <option value="CC">Cédula de ciudadania</option>
                                            <option value="TI">Tarjeta de identidad</option>
                                            <option value="PA">Pasaporte</option>
                                        </select>
                                        <br />
                                        <label>Identificación</label><br />
                                        <input type="number" ng-model="identificacion" placeholder="Número identificación" required /><br />
                                        <label>Nombres</label><br />
                                        <input type="text" ng-model="Nombre" placeholder="Nombres" required /><br />
                                        <label>Apellidos</label><br />
                                        <input type="text" ng-model="Apellido" placeholder="Apellidos" required /><br />
                                    </form>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <section class="sec-40">
                                <div class="SeccionRegistro CentradoAutomatico">
                                    <!--Captura datos de registro-->

                                    <form action="Dashboard Vision General_2.html">
                                        <label>Correo electrónico</label><br />
                                        <input type="email" ng-model="email" placeholder="Correo electrónico" required />

                                        <label>Fecha nacimiento</label><br />
                                        <input type="date" ng-model="fecha_nacimiento" placeholder="Fecha nacimiento" required />

                                        <label>Clave</label><br />
                                        <input type="password" ng-model="Contrasena" placeholder="Contraseña" required />

                                        <label>Confirmar clave</label><br />
                                        <input type="password" ng-model="Contrasena_Transaccion" placeholder="Confirmar contraseña" required />

                                        <br />
                                        <br />
                                        <input type="checkbox" required ng-checked="AceptaTerminos" ng-model="AceptaTerminos" />
                                        <a href="Registrao.hmtl">Acepto términos</a>
                                        <div class="btn" ng-click="funGuardarUsuario()">
                                            Ingresar
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--PIE DE PAGINA-->
        <footer>
            <div class="container-fluid">
                <div class="col-md-12 col-xs-12">
                    <a href="TerminosDeUso.html" class="footerEnlace"> Términos de uso</a>
                    <a href="PoliticaPrivacidad.html" class="footerEnlace">Política de privacidad </a>
                </div>
        </footer>
        <!---->
        <!--@* FRAGMENTO HTML PARA POPUP *@ -->
        <div class="modal" id="popupMuestra" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" style="z-index:1000000">
            <div class="modal-dialog modal-dialog-centered" role="document" style="padding: 0px 10px 0px 10px;">
                <div class="modal-content border" style="box-shadow: 4px 3px 6px 1px #b58e8e;">
                    <div class="modal-header bg-warning" id="popupHeaderGenerico">
                        <h5 class="modal-title" id="TituloPopupMensajeGenerico"></h5>
                        <button type="button" class="close " data-dismiss="modal" aria-label="Close" style="display:none">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="contenidoPopupMensajeGenerico" style="padding: 5px 20px 0px 15px;">

                    </div>
                    <div class="modal-footer p-2">
                        <button id="btnAceptarSiMensajeGenerico" onclick="return eventoAceptarSi();" tabindex="1" type="button" class="btn btn-sm small-sm   p-0 pl-2 pr-2">Aceptar</button>
                        <button id="btnCancelarNoSiMensajeGenerico" style="display:none" onclick="return eventoCancelarNoSi();" tabindex="2" type="button" class="btn btn-sm btn-secondary small-sm   p-0 pl-2 pr-2" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!---->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/Aplicacion.js"></script>
        <script src="js/GestorMensajes.js"></script>
</body>

</html>